@import '../../styles/variables';

.wrap {
  position: relative;
  cursor: pointer;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.default {
  width: max-content;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;

  &:hover {
    color: #ffa542;
    transition: 0.3s;
  }
}

.fill {
  width: 100%;
  background-color: $black_10;
  padding: 22px 0;
  font-size: 17px;
  font-weight: 600;
  color: $white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px $black_01;

  &:hover {
    opacity: 0.9;
    transition: 0.2s;
  }
}

.icon:hover {
  path {
    fill: #ffa542;
    transition: 0.3s;
  }
}
