@import '../../styles/variables';
@import '../../styles/mixins';

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;

  @include media_1180 {
    padding: 0 20px;
  }
}

.black {
  color: $black_1c1;
}

.grey {
  color: $grey_83;
}
