// colors
$white: #ffffff;
$grey_eae: #eaeaea;
$grey_83: #838383;
$grey_aaa: #aaaaaa;
$black_1c1: #1c1c27;
$black: #000000;
$black_10: #101010;
$black_01: rgba(0, 0, 0, 0.1);
$orange_ffa: #ffa542;
$orange_ffc: #ffce7f;
$red: red;

// sizes
$full_width: 1110px;
