@import '../../styles/variables';
@import '../../styles/mixins';

.wrap {
  width: 100%;
  max-width: 350px;
  margin-top: 38px;
  box-shadow: 0px 0px 20px 0px $black_01;
  background-color: $white;
  height: min-content;
  border-radius: 30px;

  @include media_940 {
    margin-top: 0;
  }

  @include media_400 {
    max-width: 300px;
  }
}

.result {
  padding: 21px 16px 15px 21px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  color: $black;
}
