@import '../../styles/variables';

.wrap {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 15px;
  font-size: 15px;
  font-weight: 500;
}

.lang:hover {
  cursor: pointer;
  color: $orange_ffc;
  transition: 0.3s;
}

.active {
  color: $orange_ffa;
  font-weight: 700;
  pointer-events: none;
}
